* {
    font-family: monospace;

}

body {
    background-color: rgb(0, 6, 9) !important;
    color: white;
    /* background-image: url(https://i.postimg.cc/MTrX9TyX/xg-horizontal-black-red-retina.png); */
}

li {
    list-style: none;
}

li a {
    font-size: 20px !important;
    text-transform: uppercase;
}


a {
    font-size: 20px;
    font-weight: 800 !important;
    text-decoration: none !important;
    color: black !important;
    text-transform: uppercase;
}

.botones {
    border-radius: 10px;

}


.navegador {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center !important;
    flex-direction: row;
    background-image: url(https://i.postimg.cc/P58HkWPQ/the-best-arcade-games.webp);

    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.navegador::after {
    -webkit-filter: blur(8px);
}


.container-navBar {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;

}

.container-nav {
    display: flex;
    flex-direction: row;
    gap: 70px;
    max-width: 100%;
    margin: auto;
    padding-top: 30px;
}

.container-buscador {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

#buscador {
    width: 500px;
}

.container-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.container-product {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.card-content {
    background-color: black;
    width: 330px;
    height: 450px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid;
    /* border-bottom: 2px #8b069d  solid;
    border-right: 2px #8b069d  solid; */
    border-radius: 10px;

}

.card-content:hover {
    border: 2px solid #8b069d;
    border-bottom: 2px #8b069d solid;
    border-right: 2px #8b069d solid;
    border-radius: 10px;
    cursor: pointer;
}



.card-title {
    text-align: center;
    font-size: 30px;
    height: 50px;
    color: #06639d;
    text-transform: uppercase;

}

.card-img {}

.card-price {
    flex-direction: column;
    display: flex;
    font-size: 30px;
    text-align: center;
    color: #9d2c06;
}

#buy {

    display: flex;
   margin: auto;
}

.buyButton {
    border: 3px;
    padding: 3px;
    margin: auto;
}

.card-description {
    flex-direction: column;
    display: flex;
    align-items: center;
}


.container-detail {
    display: flex;
    flex-direction: row;
    color: white;
    width: 90%;
    text-align: center;
    align-items: center;
    margin: auto;
}

.item-detail {
    display: flex;
    flex-direction: column;

}

.item-title {}

.item-price {
    margin-top: 20px;
}

.item-detail-description {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.item-description {
    width: 50%;
    margin: auto;
    padding: auto;
    text-align: center;

}

.item-requiriments {
    padding: auto;
    margin: auto;
    text-align: center;
    width: 50%;
    display: flex;
   
}


#logo {
    width: 30px;
    color: firebrick;
}

#user {
    font-size: 25px;
    color: aqua;
}

#user:hover {
    cursor: pointer;
}

#carro {
    font-size: 20px;
    line-height: 30px;
}

#carro:hover {
    cursor: pointer;
}