* {
    font-family: monospace;

}

body {
    background-color: black !important;
    color: white;
}

li {
    list-style: none;
}

li a {
    font-size: 20px !important;
    text-transform: uppercase;
}


a {
    font-size: 20px;
    font-weight: 800 !important;
    text-decoration: none !important;
    color: black !important;
    text-transform: uppercase;
}

.botones{
    border-radius: 10px;
    
}


.navegador {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center !important;
    flex-direction: row;
    background-image: url(https://i.postimg.cc/P58HkWPQ/the-best-arcade-games.webp);

    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.navegador::after {
    -webkit-filter: blur(8px);
}


.container-navBar {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;

}

.container-nav {
    display: flex;
    flex-direction: row;
    gap: 70px;
    max-width: 100%;
    margin: auto;
    padding-top: 30px;
}

.container-buscador {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

#buscador {
    width: 500px;
}

.container-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#logo {
    width: 30px;
    color: firebrick;
}

#user {
    font-size: 25px;
    color: aqua;
}

#user:hover {
    cursor: pointer;
}

#carro {
    font-size: 20px;
    line-height: 30px;
}

#carro:hover {
    cursor: pointer;
}