:root {
    --effect: hover 1s linear infinite;
}

* {
    font-family: monospace;

}

body {
    background-color: rgb(44, 46, 47) !important;
    color: white;

}

li {
    list-style: none;
}

li a {
    font-size: 20px !important;
    text-transform: uppercase;
}


a {
    font-size: 20px;
    font-weight: 800 !important;
    text-decoration: none !important;
    color: black !important;
    text-transform: uppercase;
}

.botones {
    border-radius: 10px;

}

.botones-nav{
    font-size: 20px;
    font-weight: 800 !important
}

.peso{
    color: rgb(56, 203, 56);
}

.navegador {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center !important;
    flex-direction: row;
    background-image: url(https://i.postimg.cc/P58HkWPQ/the-best-arcade-games.webp);

    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.navegador::after {
    -webkit-filter: blur(8px);
}


.container-navBar {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;

}

.container-nav {
    display: flex;
    flex-direction: row;
    gap: 70px;
    max-width: 100%;
    margin: auto;
    padding-top: 30px;
}

.container-buscador {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

#buscador {
    width: 500px;
}

.container-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.container-product {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.card-content {
    background-color: black;
    width: 330px;
    height: 450px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid;
    /* border-bottom: 2px #8b069d  solid;
    border-right: 2px #8b069d  solid; */
    border-radius: 10px;
    padding: 1px;

}

.card-content:hover {
    border: 5px solid #ffffff;

    border-radius: 10px;
    cursor: pointer;
}



.card-title {
    text-align: center;
    font-size: 25px;
    height: 50px;
    color: #06639d;
    text-transform: uppercase;
    padding: 10px;

}

.card-img {}

.card-price {
    flex-direction: column;
    display: flex;
    font-size: 30px;
    text-align: center;
    color: #9d2c06;
}

#buy {

    display: flex;
    margin: auto;
}

.buyButton {
    border: 3px;
    padding: 3px;
    margin: auto;
}

.card-description {
    flex-direction: column;
    display: flex;
    align-items: center;
}


.container-detail {
    display: flex;
    flex-direction: row;
    color: white;
    width: 90%;
    text-align: center;
    align-items: center;
    margin: auto;

}

.item-detail {
    display: flex;
    flex-direction: column;

}

.item-title {}

.item-price {
    margin-top: 20px;
}

.item-detail-description {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.item-description {
    width: 50%;
    margin: auto;
    padding: auto;
    text-align: center;

}

.item-requiriments {
    padding: auto;
    margin: auto;
    text-align: center;
    width: 50%;
    display: flex;

}


#logo {
    width: 30px;
    color: firebrick;
}

#user {
    font-size: 25px;
    color: aqua;
}

#user:hover {
    cursor: pointer;
}

#carro {
    font-size: 20px;
    line-height: 30px;
}

#carro:hover {
    cursor: pointer;
}

/* .loader {
    background-color: firebrick;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .rueda {
    border: 10px solid black;
    border-radius: 50%;
    border-left-color: transparent;
    width: 80px;
    height: 80px;
    animation: giro 1s linear infinite;
} */

/* .loader-title {
    color: #1f2b43;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
} */
.load {
    text-align: center;
   
}

.loader {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 6em;
    font-family: arial;
    font-weight: 900;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
}

.loader:nth-child(1) {
    animation: var(--effect);
}

.loader:nth-child(2) {
    animation: var(--effect) .125s;
}

.loader:nth-child(3) {
    animation: var(--effect) .25s;
}

.loader:nth-child(4) {
    animation: var(--effect) .375s;
}

.loader:nth-child(5) {
    animation: var(--effect) .5s;
}

.loader:nth-child(6) {
    animation: var(--effect) .675s;
}

.loader:nth-child(7) {
    animation: var(--effect) .75s;
}

@keyframes hover {
    0% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }

    20% {
        transform: scale(1);
        color: pink;
        -webkit-text-stroke: 3px red;
        filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }

    50% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }


}

/* @keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 667px) {
    .loader {
        height: 100vh;
    }
} */